{% extends 'base.html.twig' %}

{% block title %}
  Plant index
{% endblock %}

{% block body %}
  <div class="container m-auto">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Min watering frequency</th>
          <th>Max watering frequency</th>
          <th>Days till next watering</th>
          <th>Fertilizers</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for plant in plants %}
          <tr>
            <td>{{ plant.id }}</td>
            <td>{{ plant.name }}</td>
            <td>{{ plant.description }}</td>
            <td>{{ plant.minNumberOfDaysToWater }}</td>
            <td>{{ plant.maxNumberOfDaysToWater }}</td>
            <td>{{ plant.getNextWatering }}</td>
            <td>{{ plant.fertilizers|join(', ') }}</td>
            <td>
              <a href="{{ path('app_plant_show', { id: plant.id }) }}">show</a>
              <a href="{{ path('app_plant_edit', { id: plant.id }) }}">edit</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="7">no records found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a href="{{ path('app_plant_new') }}" class="btn btn-info ms-4">Create new</a>
{% endblock %}
